.popup {
    padding: 30px 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.popup .otp-header h1 {
    background-color: #fff;
    text-transform: uppercase;
}

.popup .otp-p p {
    background-color: #fff;
    color: black;
    font-weight: 300;
    font-size: small;
}

.popup .otp-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    background-color: #fff;
    display: flex;
    gap: 1rem;
}

.otp-code {
    border-radius: 10px;
    border: 3px solid var(--header);
    font-size: 25px;
    font-family: "Lato", sans-serif;
    width: 4vw;
    height: 7vh;
    text-align: center;
    font-weight: 300;
}

.otp-verify {
    background-color: #fff;
}

.otp-verify {
    display: flex;
    gap: 1rem;
}

.otp-verify button {
    background-color: var(--header);
    padding: 12px 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.otp-verify button:hover {
    background-color: #a673ff;
}

/* Responsive Styles for max-width: 600px */

@media (max-width: 600px) {
    .popup {
        padding: 20px 50px;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .otp-header h1 {
        font-size: 21px;
        text-align: center;
    }

    .popup .otp-container {
        margin: 20px 0;
    }

    .otp-code {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }

    .otp-verify button {
        padding: 12px 25px;
    }
}