/* dashboard.css */

.dash-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: fixed;
  z-index: 1;
  top: 108px;
  width: 100%;
  height: 20vh;
}

.dashboard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.add-pass button {
  border: none;
  border-radius: 12px;
  padding: 15px 15px;
  cursor: pointer;
  background-color: var(--header);
}

.add-pass button:hover {
  background-color: blueviolet;
  padding: 15px 20px;
}

.card-container-wrapper {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 2px solid var(--header);
  padding: 10px;
  height: 37vh;
  width: 25vw;
  border-radius: 12px;
}

.card-header h2 {
  color: rgb(211, 0, 204);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  width: 100%;
  padding: 0 1rem;
}

.card-body p {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.card-body i {
  cursor: pointer;
}

.card-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-btns i {
  cursor: pointer;
  font-size: 18px;
}

.card-body input {
  border: none;
}

/* Responsive Styles for max-width: 600px */

@media (max-width: 600px) {
  .dash-main {
    top: 80px;
  }

  .card-container-wrapper {
    margin-top: 9rem;
  }

  .add-pass button {
    padding: 13px 13px;
  }

  .card-container {
    width: 90vw;
    height: auto;
  }

  .card-body p {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }

  .card-body i {
    margin-top: 0.5rem;
  }
}
